html {
    background: #121212;
}


.title {
    font-size: 70px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.btns {
    height: 200px;

}

#add {
    display: block;
    margin-left:45%;
    margin-top:200px;
    height:100px;
    width:170px;
    font-size:30px;
    background-color: aqua;
    border:1px solid black;
    box-shadow: 2px 2px black;
    border-radius: 3em;
}

.book-form {
    display: none;
}

.book-form-popup {
    position: absolute;
    text-align: center;
    box-shadow: 10px 11px rgba(0, 0, 255, .2);
    height: 250px;
    width: 400px;
    margin-left:350px;
    border-radius: 5px;
    text-align: center;
    font-size:20px;
    background: #347B98;
}

#form-title {
    display:inline-block;
    margin: 3px;
    font-size: 20px;
}
label {
    display:inline-block;
    margin: 3px;
    font-size: 18px;
}

.library {
    z-index: 1;
    height: 300px;
    width: 100%;
    
}

.card-read {

    display:inline-block;
    z-index: 1;
    color:white;
    margin:10px;
    height: fit-content;
    max-height: 200px;
    width: fit-content;
    max-width: 200px;
    border: 2px solid black;
    box-shadow: 2px 1px white;
    border-radius: 3px;
    text-align: center;
    font-size:16px;
    background:green;
}
.card-notread {
    display:inline-block;
    z-index: 1;
    color:white;
    margin:10px;
    height: fit-content;
    max-height: 200px;
    width: fit-content;
    max-width: 200px;
    border: 2px solid black;
    box-shadow: 2px 1px white;
    border-radius: 3px;
    text-align: center;
    font-size:16px;
    background:red;
}

