.library {
    height: 500px;
    width: 100%;
    border: 2px;
    margin: 0px;
    
}

#shelves {
    height: 300px;
    width: 80%;
    background-color: white;
    margin-left: 150px;
    margin-right: 150px;
}

#shelf {
    height: 20px;
    width: 100%;
    background-color: rgb(68, 2, 2);
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.btns {
    height: 200px;
    background: grey;
}